@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");

.center {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.errorHeader {
	font-size: 50px;
	font-family: "Jersey 10", sans-serif;
}

.errorMessage {
	color: orange;
}

.errorModal {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: left;
	height: 100vh;
}
